Dashboard.json
{
  "name": "Dashboard",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -64
      ],
      "id": "1f6e1589-a395-4614-90cd-980271d9d5a6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "89Lnt3Am5YlYa0bQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are reading a sales inbox email for a shipping container company.\nReturn ONLY valid JSON (no extra text, no markdown).\n\nJSON format:\n{\n  \"primary_quote_identifier\": \"\",\n  \"stage_updates\": [\n    { \"stage_name\": \"\", \"cell_text\": \"\" }\n  ]\n}\n\nAllowed stage_name values (must match exactly):\nInquiry & Lead Capture\nResearch & Discovery\nQuotation Preparation\nQuote Approval\nPO Received\nOrder Processing\nInvoicing\nPayment Received\nRelease Sent\nRelease Received\nDelivery Preparation\nDelivery Set\nDelivery Confirmed\nPost-Delivery Follow-up\n\nRule: PO Received implies Quote Approval is complete.\n\nEMAIL:\n{{$json.email_text}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        -64
      ],
      "id": "915d39ad-e5ee-4426-9574-50ab81aa2f4b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "VWlBw6xEh0JjFBeP",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9baee32e-aeea-4a1d-ac2c-edff718bc8ff",
              "leftValue": "={{ $json.stop }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -64
      ],
      "id": "47beb56b-8021-49aa-afa9-37f6eba0b6b5",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n Code node (Run once for each item)\n\nfunction stripHtml(html) {\n  return String(html || \"\").replace(/<[^>]*>/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nconst provider_message_id =\n  $json.id ||\n  $json.messageId ||\n  $json.internalId ||\n  $json.threadId ||\n  $json.historyId;\n\nconst from =\n  $json.From ||\n  $json.from?.email ||\n  $json.from ||\n  $json.sender ||\n  \"\";\n\nconst subject =\n  $json.Subject ||\n  $json.subject ||\n  \"\";\n\nconst bodyPlain =\n  $json.textPlain ||\n  $json.text ||\n  $json.body ||\n  $json.snippet ||\n  \"\";\n\nconst bodyHtml = $json.textHtml || $json.html || \"\";\n\nconst bodyText = bodyPlain && String(bodyPlain).trim().length > 0\n  ? String(bodyPlain).trim()\n  : stripHtml(bodyHtml);\n\nconst email_text = `From: ${from}\\nSubject: ${subject}\\n\\n${bodyText}`.trim();\n\nreturn {\n  json: {\n    provider_message_id: provider_message_id || \"\",\n    email_text,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "b311d191-2757-4bf7-9c7f-ec867e2e6fd2",
      "name": "Build Email Packet"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Always output primary_quote_identifier so IF can use it\n\nconst raw = $json.output?.[0]?.content?.[0]?.text;\n\nif (!raw) {\n  return {\n    json: {\n      primary_quote_identifier: \"\",\n      stage_updates: [],\n      stop: true,\n      reason: \"No OpenAI text output found\",\n    },\n  };\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return {\n    json: {\n      primary_quote_identifier: \"\",\n      stage_updates: [],\n      stop: true,\n      reason: \"OpenAI output was not valid JSON\",\n      raw,\n    },\n  };\n}\n\nconst quote = (parsed.primary_quote_identifier || \"\").trim();\nconst stage_updates = Array.isArray(parsed.stage_updates) ? parsed.stage_updates : [];\n\nreturn {\n  json: {\n    primary_quote_identifier: quote,\n    stage_updates,\n    stop: !quote,\n    reason: quote ? \"\" : \"No quote identifier found in email\",\n    raw_json: parsed,\n    provider_message_id: $node[\"Build Email Packet\"].json.provider_message_id || \"\",\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -64
      ],
      "id": "6799c683-c2a0-4617-be05-262ed83a2cbb",
      "name": "Parse LLM JSON"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appSthipDsv0DL7Lh",
          "mode": "list",
          "cachedResultName": "ProBox Sales Dashboard",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh"
        },
        "table": {
          "__rl": true,
          "value": "tbl9u7yZXjIkGvuSM",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh/tbl9u7yZXjIkGvuSM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QuoteNumber": "={{ $('Parse LLM JSON').item.json.primary_quote_identifier }}",
            "CurrentStage": "={{ $json.CurrentStage }}",
            "LastUpdatedAt": "={{ $json.LastUpdatedAt }}",
            "FinalStatus": "={{ $json.FinalStatus }}"
          },
          "matchingColumns": [
            "QuoteNumber"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "QuoteNumber",
              "displayName": "QuoteNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ReceivedAt",
              "displayName": "ReceivedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastUpdatedAt",
              "displayName": "LastUpdatedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FinalStatus",
              "displayName": "FinalStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CurrentStage",
              "displayName": "CurrentStage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ClosedAt",
              "displayName": "ClosedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Inquiry & Lead Capture",
              "displayName": "Inquiry & Lead Capture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research & Discovery",
              "displayName": "Research & Discovery",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quotation Preparation",
              "displayName": "Quotation Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quote Approval",
              "displayName": "Quote Approval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PO Received ",
              "displayName": "PO Received ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order Processing",
              "displayName": "Order Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoicing",
              "displayName": "Invoicing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Received",
              "displayName": "Payment Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Sent",
              "displayName": "Release Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Received",
              "displayName": "Release Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Preparation",
              "displayName": "Delivery Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Set",
              "displayName": "Delivery Set",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Confirmed",
              "displayName": "Delivery Confirmed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post-Delivery Follow-up",
              "displayName": "Post-Delivery Follow-up",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "id": "895c06b4-88a1-4deb-964c-680358464c3e",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "NRSYJf8DM6u3JHEv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform stage_updates[] into Airtable field mappings\n\nconst quoteNumber = ($json.primary_quote_identifier || \"\").trim();\nconst stageUpdates = Array.isArray($json.stage_updates) ? $json.stage_updates : [];\nconst now = new Date();\n\n// Map stage names from LLM to exact Airtable column names\nconst stageNameMap = {\n  \"Inquiry & Lead Capture\": \"Inquiry & Lead Capture\",\n  \"Research & Discovery\": \"Research & Discovery\",\n  \"Quotation Preparation\": \"Quotation Preparation\",\n  \"Quote Approval\": \"Quote Approval\",\n  \"PO Received\": \"PO Received\",\n  \"Order Processing\": \"Order Processing\",\n  \"Invoicing\": \"Invoicing\",\n  \"Payment Received\": \"Payment Received\",\n  \"Release Sent\": \"Release Sent\",\n  \"Release Received\": \"Release Received\",\n  \"Delivery Preparation\": \"Delivery Preparation\",\n  \"Delivery Set\": \"Delivery Set\",\n  \"Delivery Confirmed\": \"Delivery Confirmed\",\n  \"Post-Delivery Follow-up\": \"Post-Delivery Follow-up\",\n};\n\n// Build object for Airtable (only include fields we're updating)\nconst airtableFields = {\n  QuoteNumber: quoteNumber,\n  LastUpdatedAt: now.toISOString(),\n};\n\n// Process each stage update from LLM\nlet highestStageNumber = 0;\nconst stageNumbers = {\n  \"Inquiry & Lead Capture\": 1,\n  \"Research & Discovery\": 2,\n  \"Quotation Preparation\": 3,\n  \"Quote Approval\": 4,\n  \"PO Received\": 5,\n  \"Order Processing\": 6,\n  \"Invoicing\": 7,\n  \"Payment Received\": 8,\n  \"Release Sent\": 9,\n  \"Release Received\": 10,\n  \"Delivery Preparation\": 11,\n  \"Delivery Set\": 12,\n  \"Delivery Confirmed\": 13,\n  \"Post-Delivery Follow-up\": 14,\n};\n\nstageUpdates.forEach((update) => {\n  const stageName = (update.stage_name || \"\").trim();\n  const cellText = (update.cell_text || \"\").trim();\n\n  // Find matching Airtable column name\n  const airtableColumnName = stageNameMap[stageName];\n  if (airtableColumnName && cellText) {\n    airtableFields[airtableColumnName] = cellText;\n\n    // Track highest stage number\n    const stageNum = stageNumbers[stageName];\n    if (stageNum && stageNum > highestStageNumber) {\n      highestStageNumber = stageNum;\n    }\n  }\n});\n\n// Set CurrentStage (highest stage that has content)\nif (highestStageNumber > 0) {\nairtableFields.CurrentStage = Number(highestStageNumber);\n}\n\n// For FinalStatus: we'll default to \"open\" for now\n// (We can't check \"all 14 done\" without reading existing record first)\n// We'll handle this with a daily sweep workflow later\nairtableFields.FinalStatus = \"open\";\n\n// Set ReceivedAt only if this is the first time (we'll need to check existing record for this)\n// For now, we'll let Airtable handle it via formula or set it in upsert logic\n\nreturn {\n  json: airtableFields,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        128
      ],
      "id": "588459a6-7777-45f3-9d03-a8d82bb4205c",
      "name": "Prepare Airtable Fields "
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSthipDsv0DL7Lh",
          "mode": "list",
          "cachedResultName": "ProBox Sales Dashboard",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh"
        },
        "table": {
          "__rl": true,
          "value": "tbl9u7yZXjIkGvuSM",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh/tbl9u7yZXjIkGvuSM"
        },
        "filterByFormula": "={QuoteNumber} = \"{{ $('Parse LLM JSON').item.json.primary_quote_identifier }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1472,
        112
      ],
      "id": "c8673bcc-1bf6-40a3-87c1-5a8f8af1d270",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NRSYJf8DM6u3JHEv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge/append stage updates into existing Airtable record fields\n\nconst nowIso = new Date().toISOString().slice(0, 16).replace(\"T\", \" \"); // \"YYYY-MM-DD HH:MM\"\n\nconst quoteNumber = ($node[\"Parse LLM JSON\"].json.primary_quote_identifier || \"\").trim();\nconst stageUpdates = Array.isArray($node[\"Parse LLM JSON\"].json.stage_updates)\n  ? $node[\"Parse LLM JSON\"].json.stage_updates\n  : [];\n\n// Search records node returns an array; first record is the existing row\nconst found = Array.isArray($json) ? $json : [$json];\nconst existingRecord = found[0] || null;\n\nconst existingFields = existingRecord?.fields || {};\nconst existingId = existingRecord?.id || null;\n\n// Helper: append with divider, without duplicating exact same text\nfunction mergeCell(existingText, newText) {\n  const oldTxt = String(existingText || \"\").trim();\n  const addTxt = String(newText || \"\").trim();\n  if (!addTxt) return oldTxt;\n  if (!oldTxt) return addTxt;\n\n  // Avoid duplicate append if same text already present\n  if (oldTxt.includes(addTxt)) return oldTxt;\n\n  return `${oldTxt}\\n\\n--- ${nowIso} ---\\n${addTxt}`;\n}\n\n// Map stage names to Airtable column names\nconst stageNameMap = {\n  \"Inquiry & Lead Capture\": \"Inquiry & Lead Capture\",\n  \"Research & Discovery\": \"Research & Discovery\",\n  \"Quotation Preparation\": \"Quotation Preparation\",\n  \"Quote Approval\": \"Quote Approval\",\n  \"PO Received\": \"PO Received\",\n  \"Order Processing\": \"Order Processing\",\n  \"Invoicing\": \"Invoicing\",\n  \"Payment Received\": \"Payment Received\",\n  \"Release Sent\": \"Release Sent\",\n  \"Release Received\": \"Release Received\",\n  \"Delivery Preparation\": \"Delivery Preparation\",\n  \"Delivery Set\": \"Delivery Set\",\n  \"Delivery Confirmed\": \"Delivery Confirmed\",\n  \"Post-Delivery Follow-up\": \"Post-Delivery Follow-up\",\n};\n\n// Stage order for CurrentStage calculation\nconst stageNumbers = {\n  \"Inquiry & Lead Capture\": 1,\n  \"Research & Discovery\": 2,\n  \"Quotation Preparation\": 3,\n  \"Quote Approval\": 4,\n  \"PO Received\": 5,\n  \"Order Processing\": 6,\n  \"Invoicing\": 7,\n  \"Payment Received\": 8,\n  \"Release Sent\": 9,\n  \"Release Received\": 10,\n  \"Delivery Preparation\": 11,\n  \"Delivery Set\": 12,\n  \"Delivery Confirmed\": 13,\n  \"Post-Delivery Follow-up\": 14,\n};\n\n// Build fields to write: start with existing fields, but only output changed ones\nconst fieldsToWrite = {\n  QuoteNumber: quoteNumber,\n  LastUpdatedAt: new Date().toISOString(),\n};\n\n// Merge stage updates\nlet highestStage = Number(existingFields.CurrentStage || 0);\n\nfor (const upd of stageUpdates) {\n  const stageName = String(upd.stage_name || \"\").trim();\n  const cellText = String(upd.cell_text || \"\").trim();\n  const colName = stageNameMap[stageName];\n\n  if (!colName || !cellText) continue;\n\n  const merged = mergeCell(existingFields[colName], cellText);\n  fieldsToWrite[colName] = merged;\n\n  const n = stageNumbers[stageName] || 0;\n  if (n > highestStage) highestStage = n;\n}\n\n// Compute CurrentStage\nfieldsToWrite.CurrentStage = Number(highestStage);\n\n// FinalStatus rule (simple version):\n// - closed if all 14 stage columns have some text\n// - else just_received if ReceivedAt within 2 days\n// - else open\nconst allStageCols = Object.values(stageNameMap);\nconst allDone = allStageCols.every((c) => String(fieldsToWrite[c] ?? existingFields[c] ?? \"\").trim().length > 0);\n\nif (allDone) {\n  fieldsToWrite.FinalStatus = \"closed\";\n  if (!existingFields.ClosedAt) fieldsToWrite.ClosedAt = new Date().toISOString();\n} else {\n  const receivedAt = existingFields.ReceivedAt ? new Date(existingFields.ReceivedAt) : null;\n  if (receivedAt && Date.now() - receivedAt.getTime() < 2 * 24 * 60 * 60 * 1000) {\n    fieldsToWrite.FinalStatus = \"just_received\";\n  } else {\n    fieldsToWrite.FinalStatus = \"open\";\n  }\n}\n\n// Ensure ReceivedAt is set for existing missing cases\nif (!existingFields.ReceivedAt) {\n  fieldsToWrite.ReceivedAt = new Date().toISOString();\n}\n\nreturn {\n  json: {\n    recordId: existingId,      // used by Update record\n    fields: fieldsToWrite,     // used by Airtable write node\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        224
      ],
      "id": "4154d895-42ec-4016-b6cf-471027a0db72",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSthipDsv0DL7Lh",
          "mode": "list",
          "cachedResultName": "ProBox Sales Dashboard",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh"
        },
        "table": {
          "__rl": true,
          "value": "tbl9u7yZXjIkGvuSM",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh/tbl9u7yZXjIkGvuSM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.recordId}}",
            "QuoteNumber": "={{$json.fields.QuoteNumber}}",
            "Customer": "=",
            "LastUpdatedAt": "={{$json.fields.LastUpdatedAt}}",
            "FinalStatus": "={{$json.fields.FinalStatus}}",
            "CurrentStage": "={{$json.fields.CurrentStage}}",
            "ReceivedAt": "={{$json.fields.ReceivedAt}}",
            "Inquiry & Lead Capture": "={{$json.fields[\"Inquiry & Lead Capture\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "QuoteNumber",
              "displayName": "QuoteNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ReceivedAt",
              "displayName": "ReceivedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastUpdatedAt",
              "displayName": "LastUpdatedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FinalStatus",
              "displayName": "FinalStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CurrentStage",
              "displayName": "CurrentStage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ClosedAt",
              "displayName": "ClosedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Inquiry & Lead Capture",
              "displayName": "Inquiry & Lead Capture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research & Discovery",
              "displayName": "Research & Discovery",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quotation Preparation",
              "displayName": "Quotation Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quote Approval",
              "displayName": "Quote Approval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PO Received ",
              "displayName": "PO Received ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order Processing",
              "displayName": "Order Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoicing",
              "displayName": "Invoicing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Received",
              "displayName": "Payment Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Sent",
              "displayName": "Release Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Received",
              "displayName": "Release Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Preparation",
              "displayName": "Delivery Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Set",
              "displayName": "Delivery Set",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Confirmed",
              "displayName": "Delivery Confirmed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post-Delivery Follow-up",
              "displayName": "Post-Delivery Follow-up",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2224,
        224
      ],
      "id": "cda15c08-c48a-4b6c-9794-88d34fafdc60",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "NRSYJf8DM6u3JHEv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "261539ad-ce81-42b1-aad6-07f303d055de",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1712,
        128
      ],
      "id": "ba7f0955-2cc8-475f-86f0-288fde43c933",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appSthipDsv0DL7Lh",
          "mode": "list",
          "cachedResultName": "ProBox Sales Dashboard",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh"
        },
        "table": {
          "__rl": true,
          "value": "tbl9u7yZXjIkGvuSM",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://airtable.com/appSthipDsv0DL7Lh/tbl9u7yZXjIkGvuSM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QuoteNumber": "={{$json.fields.QuoteNumber}}",
            "LastUpdatedAt": "={{$json.fields.LastUpdatedAt}}",
            "ReceivedAt": "={{$json.fields.ReceivedAt}}",
            "CurrentStage": "={{$json.fields.CurrentStage}}",
            "FinalStatus": "={$json.fields.FinalStatus}}",
            "Inquiry & Lead Capture": "={{$json.fields[\"Inquiry & Lead Capture\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "QuoteNumber",
              "displayName": "QuoteNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ReceivedAt",
              "displayName": "ReceivedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LastUpdatedAt",
              "displayName": "LastUpdatedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FinalStatus",
              "displayName": "FinalStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CurrentStage",
              "displayName": "CurrentStage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ClosedAt",
              "displayName": "ClosedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Inquiry & Lead Capture",
              "displayName": "Inquiry & Lead Capture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research & Discovery",
              "displayName": "Research & Discovery",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quotation Preparation",
              "displayName": "Quotation Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quote Approval",
              "displayName": "Quote Approval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PO Received ",
              "displayName": "PO Received ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order Processing",
              "displayName": "Order Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoicing",
              "displayName": "Invoicing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Received",
              "displayName": "Payment Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Sent",
              "displayName": "Release Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Release Received",
              "displayName": "Release Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Preparation",
              "displayName": "Delivery Preparation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Set",
              "displayName": "Delivery Set",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Confirmed",
              "displayName": "Delivery Confirmed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post-Delivery Follow-up",
              "displayName": "Post-Delivery Follow-up",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        -160
      ],
      "id": "ab3a01c2-defd-4d10-8834-8eff47948397",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "NRSYJf8DM6u3JHEv",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Build Email Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Packet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Prepare Airtable Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Airtable Fields ": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e469136a-261d-48b0-bd81-d981f9084882",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f51e4e3aab57ea0f88d745e799b864d5a59e50effaa3086e373db9c292a9733"
  },
  "id": "WTXSGKdPiZlmshGib9EfH",
  "tags": []
}